.App {
  text-align: center;
}

h1 {
  color: black;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  color: white;
  align-items: center;
}

.row textarea {
  width: 300px;
  padding: 20px 0;
}

.row img {
  cursor: pointer;
}

.current-hour {
  background-color: red;
}

.past-hour {
  background-color: grey;
}

.future-hour {
  background-color: green;
}
